.searchContainer {
    margin: 10px; 
}

.inputContainer:focus {
    outline: none;
}

.inputContainer {
    border: none;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}