.container {
    overflow-y: auto;
    height: 90%;
    background-color: #032550;
}

.movieContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-left: 10%;
    margin-top: 15%;
}